.roadmap-section {
  background-color: $color-black;
  padding: 8rem 0;
  overflow: hidden;
  position: relative;

  .vector{
    position: absolute;
    height: 8.5rem;

    @media only screen and (max-width: $laptop-land) {
      display: none;
    }
  }

  .vector-1{
    top: 0;
    left: 0;
  }
  .vector-2{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .vector-3{
    bottom: 0;
    right: 0;
  }
}

.roadmap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 5rem 6rem;
  position: relative;

  @media only screen and (max-width: $tab-port) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 0;
  }

  &::after {
    content: "";
    display: block;
    width: 18.5rem;
    background-image: url(../img/roadmap-line.png);
    background-size: cover;
    background-position: top center;
    height: 108.3rem;
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 1458em) {
      height: 113.3rem;
      top: -5rem;
    }
    @media only screen and (max-width: $laptop-land) {
      height: 113.3rem;
      top: -5rem;
    }
    @media only screen and (max-width: $laptop-port) {
      height: 134.3rem;
      top: -7rem;
    }
    @media only screen and (max-width: $tab-port) {
      display: none;
    }

  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:nth-child(odd) {
    grid-column: 1/4;
    text-align: right;
    margin-left: auto;

    @media only screen and (max-width: $laptop-land) {
      .image-btn {
        transform: translate(5rem);
      }
    }

    @media only screen and (max-width: $tab-land) {
      grid-column: 1/5;
      padding-right: 9rem;

      .image-btn {
        transform: translate(0);
      }
    }

    @media only screen and (max-width: $tab-port) {
      grid-column: 1/-1;
      padding-right: 0;
    }
  }

  &__item:nth-child(even) {
    grid-column: 3/-1;
    text-align: left;
    margin-right: auto;

    @media only screen and (max-width: $laptop-land) {
      .image-btn {
        transform: translate(-5rem);
      }
    }

    @media only screen and (max-width: $tab-land) {
      grid-column: 2/-1;
      padding-left: 9rem;

      .image-btn {
        transform: translate(0);
      }
    }

    @media only screen and (max-width: $tab-port) {
      grid-column: 1/-1;
      padding-left: 0;
    }
  }

  &__content {
    padding: 0 5rem;

    @media only screen and (max-width: $tab-port) {
      padding: 0 2rem;
    }
  }

  .image-btn {
    position: relative;
    z-index: 2;

    .circle {
      height: 10.5rem;
      width: 10.5rem;
      border-radius: 50%;
      background-color: $color-primary;
    }

    img {
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.headline {
  margin-bottom: 20rem !important;
}

// .roadmap__item--1 {
//   grid-column: 1/4;
//   transform: translate(37px, 12px);

//   .roadmap__content {
//     border-right: 3px dashed $color-white;
//   }
// }
// .roadmap__item--2 {
//   grid-column: 3/-1;
//   .roadmap__content {
//     border-left: 2px dashed $color-white;
//   }
// }
// .roadmap__item--3 {
//   grid-column: 1/4;
//   .roadmap__content {
//     border-right: 2px dashed $color-white;
//   }
// }
// .roadmap__item--4 {
//   grid-column: 3/-1;
//   .roadmap__content {
//     border-left: 2px dashed $color-white;
//   }
// }
// .roadmap__item--5 {
//   grid-column: 1/4;
//   .roadmap__content {
//     border-right: 2px dashed $color-white;
//   }
// }
